<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jinjaweb</title>
    <!-- <link rel="stylesheet" href="web框架/static/css/test.css"> -->
	<link rel="stylesheet" type="text/css" href="test.css"/>
	  <link rel="icon" href="22.ico">
</head>
<body>
    <h1>{{ userinfo }}</h1>
   <ul>
      {% for k in userinfo %}
		<li>{{k}}</li>
      {% endfor %}
    </ul>
<h1>22期洗脚城</h1>
我们的技师有:
<ul>
  <li>头牌红旭妹妹</li>
  <li>花魁雪飞姑娘</li>
  <li>妇女之友程根</li>
</ul>
<img src="1.jpg" alt="">
</body>
    <script src="test.js" type="text/javascript" charset="utf-8"></script>
</html>